<body data-offset="50" data-controller-name="home">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <h3>
          <a href="/" class="site-logo"></a>
        </h3>
        <ul class="nav"><li class="first active"><a href="/">首页</a></li><li><a href="/topics">社区</a></li><li><a href="/wiki">Wiki</a></li><li><a href="/twitter">推文</a></li><li><a href="/sites">酷站</a></li><li class="last"><a href="/users">会员</a></li></ul>
        <span class="pull-right">
          <form action="/search" class="navbar-search" method="get">
            <input type="text" name="q" class="search-query" value="" placeholder="搜索" />
          </form>
            <ul class="nav pull-right" id="userbar"><li class="first"><a href="/account/sign_up">注册</a></li><li class="last"><a href="/account/sign_in">登录</a></li></ul>

        </span>
      </div>
    </div>
  </div>
  </div>
  <div class="more">
    <a href="/topics/excellent">查看更多精华贴...</a>
  </div>
</div>
  <div id="sections" class="box">
  <h2 class="title"></h2>
  <ul>
    <li>
      <label>Ruby</label>
      <span class="nodes">
            <a href="/topics/node1" title="Ruby">Ruby</a>
            <a href="/topics/node2" title="Rails">Rails</a>
            <a href="/topics/node3" title="Gem">Gem</a>
            <a href="/topics/node29" title="重构">重构</a>
            <a href="/topics/node37" title="Testing">Testing</a>
            <a href="/topics/node43" title="Sinatra">Sinatra</a>
            <a href="/topics/node44" title="部署">部署</a>
            <a href="/topics/node45" title="RVM">RVM</a>
            <a href="/topics/node47" title="开源项目">开源项目</a>
            <a href="/topics/node52" title="新手问题">新手问题</a>
            <a href="/topics/node54" title="JRuby">JRuby</a>
      </span>
    </li>
 
     <li>
      <label>Ruby</label>
      <span class="nodes">
            <%=@time %>
           <%=link_to("Hello",say_hello_path) %>
      </span>
    </li>
  </ul>
</div>
    </div>
  </div>

  <div class="zoom-overlay"></div>
</body>